force-app/main/default/flows/Create_Project_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Project_Line_Item_To_The_Collection</name>
        <label>Add Project Line Item To The Collection</label>
        <locationX>264</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>ProjectLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectLineItemTemporal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OppLineItems_After_Save_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Name</name>
        <label>Set Project Name</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>ProjectName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Poject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Temporal_Project_Line_Item</name>
        <label>Set Temporal Project Line Item</label>
        <locationX>264</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>ProjectLineItemTemporal.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Poject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLineItemTemporal.Rol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OppLineItems_After_Save_Project.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLineItemTemporal.RequiredHoursxRol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OppLineItems_After_Save_Project.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Project_Line_Item_To_The_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Sold_Hours</name>
        <label>Sum Sold Hours</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TotalSoldHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_OppLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OppLineItems</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Project from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Project from Opportunity v0.3</label>
    <loops>
        <name>Loop_OppLineItems_After_Save_Project</name>
        <label>Loop OppLineItems After Save Project</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_OppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Temporal_Project_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Project_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_OppLineItems</name>
        <label>Loop Through OppLineItems</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_OppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Sold_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Project_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Poject</name>
        <label>New Poject</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Loop_OppLineItems_After_Save_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>$Record.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sold_Hours__c</field>
            <value>
                <elementReference>TotalSoldHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre-kickoff</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Project_Line_Items</name>
        <label>New Project Line Items</label>
        <locationX>176</locationX>
        <locationY>1487</locationY>
        <inputReference>ProjectLineItemCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_OppLineItems</name>
        <label>Get OppLineItems</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_OppLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OppLineItems</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
    <variables>
        <name>ProjectLineItemTemporal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
    <variables>
        <name>ProjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Project-</stringValue>
        </value>
    </variables>
    <variables>
        <name>TotalSoldHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
