force-app/main/default/flows/Sum_AssignedHours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Sumarizar_Hours</name>
        <label>Sumarizar Hours</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>SumAssignedHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Siblings_ProjectResource.Assigned_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sumCost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sumCost</name>
        <label>sumCost</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>estimateCostCurrency</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Siblings_ProjectResource.CostByResource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Siblings_ProjectResource</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Sum AssignedHours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sum AssignedHours</label>
    <loops>
        <name>loop_Siblings_ProjectResource</name>
        <label>loop Siblings ProjectResource</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Siblings_ProjectsResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sumarizar_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ProjectResource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Siblings_ProjectsResources</name>
        <label>Get Siblings ProjectsResources</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Siblings_ProjectResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProjectLineItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProjectLineItem__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resources__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_Hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ProjectResource</name>
        <label>Update ProjectResource</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProjectLineItem__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssignedHousxRol__c</field>
            <value>
                <elementReference>SumAssignedHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Cost__c</field>
            <value>
                <elementReference>estimateCostCurrency</elementReference>
            </value>
        </inputAssignments>
        <object>ProjectLineItem__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Siblings_ProjectsResources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_Hours__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Project_Resources__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>estimateCostCurrency</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EstimatedCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SumAssignedHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
